.custom-button-container {	
	background-color: #eee;
	margin: 10px;
	padding: 10px;
	text-align: center;
	width: 500px;
	
	button {
		border: 1px solid #ddd;
		background-color: #0eb5d1;
		color: #fff;
		cursor: pointer;
		font-size: 22px;
		padding: 10px;
		width: 450px;

		&:hover {
			opacity: 0.5;
		}

	}
}